@model Philosophers.Models.Area

@{
    ViewBag.Title = Model.Name;
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Name)
        </td>
    </tr>

</table>
