@model Philosophers.Models.Area

@{
    ViewBag.Title = Model.Name;
}

<h2>@ViewBag.Title</h2>
<h4>@Model.Description</h4>

@if (Model.Philosophers.Count > 0)
{
    foreach (var philosopher in Model.Philosophers)
    {
        Html.RenderPartial("_PhilosopherSummary", philosopher);
    }
}
else
{
    <h3>No philosphers for this area in the library at the moment</h3>
}