@model Philosophers.Models.Area

@{
    ViewBag.Title = Model.Name;
}

<h2>@ViewBag.Title</h2>
<h4>@Model.Description</h4>

@if (Model.Philosophers.Count > 0)
{
    foreach (var philosopher in Model.Philosophers)
    {
        Html.RenderPartial("_PhilosopherSummary", philosopher);
    }
}
else
{
    <h3>No philosphers for this area in the library at the moment</h3>
}

@if (Model.Books.Count > 0)
{
    <table class="table">
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
        </tr>
        @foreach (var book in Model.Books)
        {
        <tr>
            <td>
                @Html.DisplayFor(b => book.Title)
            </td>
        </tr>
        }
    </table>
}

else
{
<h3>No books for this area in the library at the moment</h3>
}
