@model IEnumerable<Philosophers.Models.Area>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    @using (Html.BeginForm("Details", "Areas", FormMethod.Get))
    {
        <p>
            Area: @Html.DropDownList("AreaID", "")
            <input type="submit" value="filter" />
        </p>
    }
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Number of Philosophers</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @item.Philosophers.Count()
        </td>
    </tr>
}

</table>
