@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>About the Philosophers Library</h1>
    <h3>A web application to view and manage information about philosophers.</h3>
</div>

<div class="row">
    <div class="col-md-5 well ">
        <h2>Technical features</h2>
        <ul>
            <li>Developed using ASP.NET MVC framework and C#</li>
            <li>A Code First approach with Entity Framework to create a database</li>
            <li>Data Migrations to update database during development</li>
            <li>LINQ query syntax to query database</li>
            <li>Data Annotatoins and Model Validation to verify input</li>
            <li>Database contains three tables; Philosopher, Area, Nationality</li>
            <li>
                <a target="_blank" href="https://github.com/stephenshine/Philosophers">
                    Managed development process using GitHub
                </a>
            </li>
            <li>Unit tested application using Mock and Microsoft Unit testing</li>
        </ul>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-5 well">
        <h2>Future development</h2>
        <ul>
            <li>Add another table to store books the philosophers have published</li>
            <li>Use AJAX to make search function more user friendly and efficient</li>
            <li>Show other similar philosophers when view the details of a philosopher</li>
        </ul>
    </div>
</div>