@model Philosophers.Models.Philosopher

<figure class="figure">
    <a href="@Url.Action("Details", "Philosophers", new { lastName = Model.LastName })">
        <img src="~/Content/Images/@Model.ImgUrl"
                alt="No image found"
                class="img-thumbnail philosopher" />
    </a>
    <figcaption>@Html.ActionLink(Model.FullName, "Details", "Philosophers", new { lastName = Model.LastName }, null)</figcaption>
</figure>