@model Philosophers.Models.Philosopher

<div class="col-md-4">
    <a href="@Url.Action("Details", new { id = Model.PhilosopherID })">
        <img src="~/Content/Images/@Model.ImgUrl"
             alt="No image found"
             class="img-responsive philosopher" />
    </a>
    <h4>@Html.ActionLink(Model.FullName, "Details", new { id = Model.PhilosopherID })</h4>
</div>