<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>library.sshineprojects.co.uk</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://library.sshineprojects.co.uk:8172/MsDeploy.axd</MSDeployServiceURL>
    <DeployIisAppPath>steshine-001-subsite3</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\steshine-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PhilosopherDBContext" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A13970_PhilosopherDB;Persist Security Info=True;User ID=DB_A13970_PhilosopherDB_admin;Password=mashup41;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Philosophers.Models.PhilosopherDBContext, Philosophers" MigrationConfiguration="Philosophers.Migrations.Configuration, Philosophers" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PhilosopherDBContext-Web.config Connection String">
      <ParameterValue>Data Source=sql5030.smarterasp.net;Initial Catalog=DB_A13970_PhilosopherDB;Persist Security Info=True;User ID=DB_A13970_PhilosopherDB_admin;Password=mashup41;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>