@model Philosophers.Models.Philosopher

@{
    ViewBag.Title = "New Philosopher";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    Html.RenderPartial("_PhilosopherForm", Model);
}

<div>
    @Html.ActionLink("Back to All Philosophers", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
