@model Philosophers.Models.Philosopher

@{
    ViewBag.Title = "Edit";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm("Edit", "Philosophers", new { lastName = Model.LastName }, FormMethod.Post, null))
{
    Html.RenderPartial("_PhilosopherForm", Model);
}

<div>
    @Html.ActionLink("Back to Philosopher", "Details", new { lastName = Model.LastName }, new { @class = "btn btn-default" })
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
