@model IEnumerable<Philosophers.Models.Philosopher>

@{
    ViewBag.Title = "All Philosophers";
}

<h2>All Philosophers</h2>

<p>
    @Html.ActionLink("Add another Philosopher", "Create")

    @*
    using statement causes form to be disposed when block closed
    parameters (ActionMethod, Controller, HTTP Method)
    TextBox passes value called searchString which matches parameter in Index ActionMethod
    *@
    @using (Html.BeginForm("Index", "Philosophers", FormMethod.Get))
    {
        <p> 
            Name: @Html.TextBox("searchString")
            <input type="submit" value="Search"/> 
        </p>
    }
</p>
    
<div class="row">
    @foreach (var philosopher in Model)
    {
        Html.RenderPartial("_PhilosopherSummary", philosopher);
    }
</div>
