@model IEnumerable<Philosophers.Models.Philosopher>

@{
    ViewBag.Title = "All Philosophers";
}

<div class="row">
    <div class="col-sm-6">
        <h2>All Philosophers</h2>

        <p>@Html.ActionLink("Add another Philosopher", "Create", null, new { @class = "btn btn-default" })</p>
    </div>

    <div class="col-sm-6" id="searchbox">
        @using (Html.BeginForm("Index", "Philosophers", FormMethod.Get))
    {
        <p>
            Name: @Html.TextBox("searchString")
            <input class="btn btn-default" type="submit" value="Search" />
        </p>
    }
    </div>

 </div>
    
<div class="row">
    @foreach (var philosopher in Model)
    {
        Html.RenderPartial("_PhilosopherSummary", philosopher);
    }
</div>
