/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.philosopher-summary {
    position: relative;
    float: left;
    width:  250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

/*Navbar*/
.navbar-default {
    background-color: #C0A253;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.navbar-default .navbar-brand {
  color: #FFFFFF;
  font-family: 'Lobster', cursive;
  font-size: 30px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #808080;
    background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
    font-family: 'Lobster', cursive;
    font-size: 20px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #808080;
    background-color: #000000;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #808080;
    background-color: transparent;
}

/*Buttons*/
.btn-default {
    background-color: #C0A253;
    border-color: #C0A253;
    color: #FFFFFF;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active {
    background-color: #A08233;
    color: #FFFFFF;
}

/*images*/
.philosopher-details {
    width: 350px;
    height: 350px;
}

a {
    color: #808080;
}

a:hover,
a:focus,
a:active {
    color: #C0A253;
    text-decoration: none;
}

.jumbotron {
    background-color: rgba(70, 70, 70, 0.25); 
}