body {
    padding-top: 50px;
    padding-bottom: 20px;
    /* background-color: rgba(235, 197, 45, 0.4); */
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.philosopher-summary {
    position: relative;
    float: left;
    width:  250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.philosopher-details 
{
    width: 350px;
    height: 350px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
  color: #000000;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {
    float:none;
}

.heading-bar {
    background-color: #c0a253;
    border-color: #c0a253;
}

.navbar-inverse .navbar-collapse {
    border-color: #c0a253;
}

#searchbox {

}

#heading {
    color: #555555;
    font-size: 25px;
}